<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Danh sách quy định</h4>
    </div>
    <div class="card-body">
        <ol>
            {{#if parameter.0.state}}
            <li>{{parameter.0.parameterName}} là {{parameter.0.fvalue}}₫</li>
            {{else}}
            <li>Không áp dụng quy định về {{parameter.0.parameterName}}.</li>
            {{/if}}

            {{#if parameter.1.state}}
            <li>{{parameter.1.parameterName}} là {{parameter.1.fvalue}} ngày kể từ ngày khóa</li>
            {{else}}
            <li>Không áp dụng quy định về {{parameter.1.parameterName}}.</li>
            {{/if}}

            {{#if parameter.2.state}}
            <li>{{parameter.2.parameterName}} là {{parameter.2.fvalue}} ngày kể từ ngày đặt hàng</li>
            {{else}}
            <li>Không áp dụng quy định về {{parameter.2.parameterName}}.</li>
            {{/if}}

            {{#if parameter.3.state}}
            <li>{{parameter.3.parameterName}} là {{parameter.3.fvalue}}₫</li>
            {{else}}
            <li>Không áp dụng quy định về {{parameter.3.parameterName}}.</li>
            {{/if}}

            {{!-- <li>Thay đổi số lượng ảnh tối đa cho ảnh chi tiết, giá khuyến mãi</li> --}}
        </ol>

    </div>
    <div class="card-footer text-center">
        <div class="btn btn-success" type="button" onclick="openEditInterface();">Thay đổi quy định</div>
    </div>
</div>

<div class="card shadow mb-4" id="edit-table">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Bảng tham số cho các quy định</h4>
        {{!-- <br> --}}
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <form action="" method="POST" id="editParametersForm" hidden>
                <input type="hidden" name="_method" value="PUT">
                <input name="parameterID" type="text" value="" required>
                <input name="parameterName" type="text" value="" required>
                <input name="value" type="number" value="" required>
                <input name="state" value="" required>
            </form>
            <table class="table table-hover table-bordered" id="editParametersTable" width="100%" cellspacing="0">
                <thead>
                    <tr class="text-center">
                        <th>Tên tham số</th>
                        <th>Giá trị</th>
                        <th>Tình trạng</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>

                <tbody>
                    {{#each parameter}}
                    <tr class="text-center align-middle">
                        <td class="parameterID" hidden>
                            <input value="{{_id}}" />
                        </td>
                        <td width="50%" class="align-middle text-left"><input type="text" class="form-control"
                                value="{{parameterName}}" required /></td>
                        <td width="20%" class="align-middle "><input type="number" min="0"
                                class="form-control text-right" value="{{value}}" required /></td>
                        <td width="15%" class="align-middle">
                            <select class="custom-select mr-sm-2 state" form="editParametersForm">
                                <option {{#if state}} selected="" {{/if}} value="true">Đang sử dụng</option>
                                <option {{#unless state}} selected="" {{/unless}} value="false">Không sử dụng
                                </option>
                            </select>
                        </td>
                        <td width="15%" class="align-middle">
                            <button class="btn btn-primary" type="button" id="editParameterButton" data-toggle="modal"
                                data-target="#a">
                                <span>Cập nhật</span>
                            </button>
                        </td>
                        <div class="modal fade" id="a" tabindex="-1" role="dialog"
                            aria-labelledby="editParameterModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-md" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="editParameterLabel">Xác nhận việc chỉnh sửa
                                            quy định
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>
                                        <button type="submit" class="btn btn-primary" form="editParametersForm">Đồng
                                            ý</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer text-center">
        <div class="btn btn-secondary" type="button" onclick="closeEditInterface();">Đóng</div>
    </div>
</div>
