<!-- DataTales Example -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Danh sách tài khoản người dùng</h1>
    {{!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> --}}
</div>

<!-- Content Row -->
<div class="row" id="userAccountQuantity">
    <!--  -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Tổng số tài khoản</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"><b>{{userAccount.total}}</b></div>
                    </div>
                    <div class="col-auto">
                        {{!-- <i class="fas fa-dollar-sign fa-2x text-gray-300"></i> --}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Số tài khoản quản trị viên</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"><b>{{userAccount.admin}}</b></div>
                    </div>
                    <div class="col-auto">
                        {{!-- <i class="fas fa-dollar-sign fa-2x text-gray-300"></i> --}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="vertical-line"></div>

    <!--  -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Số tài khoản người dùng
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 font-weight-bold text-gray-800"><b>{{userAccount.user}}</b></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        {{!-- <i class="fas fa-dollar-sign fa-2x text-gray-300"></i> --}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Số tài khoản bị khóa</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"><b>{{userAccount.lockedAcc}}</b></div>
                    </div>
                    <div class="col-auto">
                        {{!-- <i class="fas fa-dollar-sign fa-2x text-gray-300"></i> --}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card shadow mb-4" id="loadTitle">
    {{!-- <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Danh sách tài khoản người dùng</h4>
        <br>
    </div> --}}
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr  class="text-center">
                        <th>Tên tài khoản</th>
                        {{!-- <th>Phân quyền</th> --}}
                        <th>Email</th>
                        <th>Số điện thoại</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>

                <tbody>
                    {{#each accounts}}
                    <tr id = "{{account._id}}" class="text-center align-middle" >
                        <input type="hidden" value="{{account._id}}" class="row-account-user">
                        {{!-- <input type="text" value="{{account.role.roleName}}" class="accountRole"> --}}
                        <td class="align-middle text-left" onchange="setTitleYourAccount()">
                            {{#if account.accountState}}
                                <i class="fas fa-user-lock text-danger"></i>
                            {{else}}
                                {{#if accRole.admin}}
                                    <i class="fas fa-headset text-success"></i>
                                {{/if}}
                                {{#if accRole.superAdmin}}
                                    <i class="fas fa-headset text-warning"></i>
                                {{/if}}
                                {{#if accRole.user}}
                                    <i class="fas fa-user text-success"></i>
                                {{/if}}
                            {{/if}}

                            {{account.name}}
                            <span class="notify text-primary"></span>

                        </td>
                        <td class="align-middle text-left">{{account.email}}</td>
                        <td class="align-middle">{{account.phoneNumber}}</td>
                        <td class="align-middle">
                            <!-- <button class="btn btn-success"><i class="fas fa-edit"></i></button> -->
                            <div class="dropdown">
                                <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span><i class="fas fa-edit"></i></span>
                                </button>
                                <div class="dropdown-menu aaa" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="/list-accounts/{{account._id}}">Xem thông tin chi tiết</a>
                                    
                                    <div class=" adminMenu">
                                        {{#if accRole.user}}
                                            {{#if account.accountState}}
                                                <a class="dropdown-item hide-item"
                                                    onclick="changeAccountState('{{account._id}}','{{account.accountState}}'); ">Mở khóa tài khoản</a>
                                            {{else}}
                                                <a class="dropdown-item hide-item" id="dropdown-delete-product"
                                                    onclick="changeAccountState('{{account._id}}','{{account.accountState}}');">Khóa tài khoản</a>
                                            {{/if}}
                                        {{/if}}
                                    </div>

                                    <div class=" superAdminMenu">
                                        {{#if accRole.user}}
                                            <a class="dropdown-item hide-item" 
                                                onclick="changeAccountRole('{{account._id}}','{{account.role.roleName}}'); ">Cấp quyền quản trị viên</a>
                                        {{/if}}
                                            
                                        {{#if accRole.admin}}
                                            <a class="dropdown-item hide-item xoa-quyen" id="dropdown-delete-product"
                                            onclick="changeAccountRole('{{account._id}}','{{account.role.roleName}}'); ">Xóa quyền quản trị viên</a>
                                        {{/if}}

                                        {{#unless accRole.superAdmin}}
                                            {{#if account.accountState}}
                                                <a class="dropdown-item hide-item"
                                                    onclick="changeAccountState('{{account._id}}','{{account.accountState}}'); ">Mở khóa tài khoản</a>
                                            {{else}}
                                                <a class="dropdown-item hide-item" id="dropdown-delete-product"
                                                    onclick="changeAccountState('{{account._id}}','{{account.accountState}}');">Khóa tài khoản</a>
                                            {{/if}}
                                        {{/unless}}
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {{/each}}


                </tbody>
            </table>

            {{#if isPagination}}
            <div>
                <nav aria-label="...">
                    <ul class="pagination">

                        <li class="page-item {{#unless canGoPrev}}disabled{{/unless}}">
                            <a class="page-link" href="?page={{prevPage}}">Previous</a>
                        </li>
                        {{#each pageItem}}
                        {{#if isActive}}
                        <li class="page-item active">
                            <span class="page-link">
                                {{value}}
                                <span class="sr-only">(current)</span>
                            </span>
                        </li>
                        {{else}}
                        <li class="page-item"><a class="page-link" href="?page={{value}}">{{value}}</a></li>
                        {{/if}}
                        {{/each}}


                        <li class="page-item {{#unless canGoNext}}disabled{{/unless}}">
                            <a class="page-link" href="?page={{nextPage}}">Next</a>
                        </li>

                    </ul>
                </nav>

            </div>
            {{/if}}
            
        </div>
    </div>
</div>

<script type="text/x-handlebars-template" id="templateAccount">
    <input type="hidden" value="\{{_id}}" class="row-account-user">

    <td class="align-middle text-left"  onchange="setTitleYourAccount();">
        \{{#if accountState}}
            <i class="fas fa-user-lock text-danger"></i>
        \{{else}}
            \{{#if accRole_admin}}
                <i class="fas fa-headset text-success"></i>
            \{{/if}}
            \{{#if accRole_superAdmin}}
                <i class="fas fa-headset text-warning"></i>
            \{{/if}}
            \{{#if accRole_user}}
                <i class="fas fa-user text-success"></i>
            \{{/if}}
        \{{/if}}

        \{{name}}
        <span class="notify text-primary"></span>

    </td>
    <td class="align-middle text-left">\{{email}}</td>
    <td class="align-middle">\{{phoneNumber}}</td>
    <td class="align-middle">
        <!-- <button class="btn btn-success"><i class="fas fa-edit"></i></button> -->
        <div class="dropdown">
            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span><i class="fas fa-edit"></i></span>
            </button>
            <div class="dropdown-menu aaa" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/list-accounts/\{{_id}}">Xem thông tin chi tiết</a>
                
                <div class=" adminMenu">
                    \{{#if accRole_user}}
                        
                            \{{#if accountState}}
                                <a class="dropdown-item hide-item"
                                    onclick="changeAccountState('\{{_id}}','\{{accountState}}'); changeAccountQuantity();">Mở khóa tài khoản</a>
                            \{{else}}
                                <a class="dropdown-item hide-item" id="dropdown-delete-product"
                                    onclick="changeAccountState('\{{_id}}','\{{accountState}}'); changeAccountQuantity();">Khóa tài khoản</a>
                            \{{/if}}
                        
                    \{{/if}}
                </div>

                <div class=" superAdminMenu">
                    \{{#if accRole_user}}
                        <a class="dropdown-item hide-item" 
                            onclick="changeAccountRole('\{{_id}}','\{{role}}'); changeAccountQuantity();">Cấp quyền quản trị viên</a>
                    \{{/if}}
                        
                    \{{#if accRole_admin}}
                        <a class="dropdown-item hide-item xoa-quyen" id="dropdown-delete-product"
                        onclick="changeAccountRole('\{{_id}}','\{{role}}'); changeAccountQuantity();">Xóa quyền quản trị viên</a>
                    \{{/if}}

                    \{{#unless accRole_superAdmin}}
                        \{{#if accountState}}
                            <a class="dropdown-item hide-item"
                                onclick="changeAccountState('\{{_id}}','\{{accountState}}'); changeAccountQuantity();">Mở khóa tài khoản</a>
                        \{{else}}
                            <a class="dropdown-item hide-item" id="dropdown-delete-product"
                                onclick="changeAccountState('\{{_id}}','\{{accountState}}'); changeAccountQuantity();">Khóa tài khoản</a>
                        \{{/if}}
                    \{{/unless}}
                    

                </div>
                

            </div>
        </div>
    </td>
</script>

<script type="text/x-handlebars-template" id="accountQuantity">
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Tổng tài khoản</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"><b>\{{total}}</b></div>
                    </div>
                    <div class="col-auto">
                        {{!-- <i class="fas fa-dollar-sign fa-2x text-gray-300"></i> --}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Số lượng tài khoản quản trị viên</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"><b>\{{admin}}</b></div>
                    </div>
                    <div class="col-auto">
                        {{!-- <i class="fas fa-dollar-sign fa-2x text-gray-300"></i> --}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="vertical-line"></div>

    <!--  -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Số lượng tài khoản người dùng
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 font-weight-bold text-gray-800"><b>\{{user}}</b></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        {{!-- <i class="fas fa-dollar-sign fa-2x text-gray-300"></i> --}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Số lượng tài khoản bị khóa</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"><b>\{{lockedAcc}}</b></div>
                    </div>
                    <div class="col-auto">
                        {{!-- <i class="fas fa-dollar-sign fa-2x text-gray-300"></i> --}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>